@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
.container-login {
	width: 90%;
	margin: auto;
}

.div-logo{
	background-color: #172a39;
	width: 100%;
	height: 35%;
	margin: 0 auto;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.logo {
	margin-left: 160px;
	width: 50px;
	height: 50px;
	align-items: center;
	color: white;
	margin-top: 25px;
}

.titulo-login{
	margin-top: 10%;
	margin-left: 5%;
	font-weight: 1000;
	font-size: 42px;
	line-height: 28px;
	color: white;
	margin-bottom: 25%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.container-login {
	width: 90%;
	margin: auto;
}

.input-login {
	--padding-start: 4%;
}

.input-login-cad {
  font-weight: 400;
  font-size: 17px;
  background-color:#fff;
  //border-radius: 20px;
  color: #f0a506;
  margin-bottom: 15px;
  //box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
	width: 80%;
	margin: 40px;
}

.icon-login-cad {
  margin-left: 9px;
  width: 22px;
}

.link {
	width: 90%;
	margin: auto;
	text-align: center;
	color: #172a39;
}

a {
	color: black;
	font-size: 14px;
	font-weight: 500;
	margin-right: 12px;
	text-decoration: none;
}

.container-botao {
  --background:	#ffffff;
	margin-top: 20px;
	width: 100%;
	margin-bottom: 5%;
}

.botao-login {
	width: 84%;
	margin: auto;
	color: #f0a506;
	--background:	#172a39;
	--border-radius: 10px;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 4%;
}

.p-cadastro{
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #172a39;
}

.botao-cadastro {
	width: 54%;
	margin: auto;
	color: #000000;
	--background:	#ffffff;
	--border-radius: 10px;
	text-transform: capitalize;
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 3%;
}

.p-cadastrese{
	color: #f0a506;
}

h2 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 55px;
	margin-bottom: -10px;
}

.rodape{
	font-weight: 400;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	margin-top: 50%;
}