<ion-content [fullscreen]="true" class="content-basico">
	<div class="div-logo">
		<ion-icon class="logo" name="pizza-outline" style="color: #f0a506;"></ion-icon>
		<h1 class="titulo-login">EAT IT</h1>
	</div>
	
	<div class="container-login">
	  <ion-input [(ngModel)]="email" class="input-login-cad input-login" placeholder="Email">
		<ion-icon class="icon-login-cad input-login" name="mail" slot="start"></ion-icon>
	  </ion-input>
	  <ion-input [(ngModel)]="senha" class="input-login-cad input-login" placeholder="Senha" type="password">
		<ion-icon class="icon-login-cad" name="key" slot="start"></ion-icon>
	  </ion-input>
	</div>

	<div class="link">
	  <a (click)="redefinir()">Esqueceu sua senha?</a>
	</div>

	<div class="container-botao">
	  <ion-button class="botao-login" expand="block" (click)="realizarLogin()">LOGIN</ion-button>
	</div>

  <p class="p-cadastro">Ainda não possui cadastro?<a class="p-cadastrese" (click)="irParaCadastro()"> Cadastre-se</a></p>
</ion-content>